:root {

    --color-white: #ffff;
    --color-black: #0000;
    --color-purple: #b507c5;
    --font-family: 'Roboto', sans-serif;
}

.div {
    padding: 0;
}

ul {
    list-style: none;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

li {
    font-family: var(--font-family);
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: inline;
}

h1 {
    text-align: center;
    color: var(--color-purple);
    font-family: var(--font-family);
}